<div class="modal-header">
    <h3 class="modal-title">Refine the filter</h3>
</div>
<div class="modal-body">
    <div class="btn-group">
        <label class="btn" ng-model="selected.filterDays" btn-radio="1">Last Day</label>
        <label class="btn" ng-model="selected.filterDays" btn-radio="3">Last 3 Days</label>
        <label class="btn" ng-model="selected.filterDays" btn-radio="7">Last Week</label>
        <label class="btn" ng-model="selected.filterDays" btn-radio="30">Last Month</label>
        <label class="btn" ng-model="selected.filterDays" btn-radio="3650">All</label>
    </div>
    <div class="btn-group">
        <label class="btn" ng-model="selected.filterRates[0]" btn-checkbox>1 Star</label>
        <label class="btn" ng-model="selected.filterRates[1]" btn-checkbox>2 Stars</label>
        <label class="btn" ng-model="selected.filterRates[2]" btn-checkbox>3 Stars</label>
        <label class="btn" ng-model="selected.filterRates[3]" btn-checkbox>4 Stars</label>
        <label class="btn" ng-model="selected.filterRates[4]" btn-checkbox>5 Stars</label>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-ok" ng-click="ok()">OK</button>
    <button class="btn btn-cancel" ng-click="cancel()">Cancel</button>
</div>