
<div class="left btn-group">
    <label class="btn btn-main btn-rating" ng-model="sorting.rating" btn-radio="-1"><span>Lowest</span></label>
    <label class="btn btn-main btn-rating" ng-model="sorting.rating" btn-radio="0"><span>Off</span></label>
    <label class="btn btn-main btn-rating" ng-model="sorting.rating" btn-radio="1"><span>Highest</span></label>
</div>
<div class="left btn-group btn-single">
    <label class="btn btn-main" ng-model="sorting.latest" btn-checkbox><span>Latest first</span></label>
</div>
<div class="left btn-group btn-single">
    <label class="btn btn-main btn-rating" ng-model="filters.filterStatus" btn-radio="-1"><span>Replied</span></label>
    <label class="btn btn-main btn-rating" ng-model="filters.filterStatus" btn-radio="0"><span>All</span></label>
    <label class="btn btn-main btn-rating" ng-model="filters.filterStatus" btn-radio="1"><span>New</span></label>
</div>
<div class="left btn-group btn-single">
    <label class="btn btn-main" id="selectedModel" ng-click="selectModel()"><span>{{ filters.filterModel }}</span></label>
    <!--<label class="btn btn-main btn-rating" ng-click="selectModel()"><span>All</span></label>-->
</div>
<div class="left btn-group btn-single">
    <button class="btn btn-main btn-filter" ng-click="open()"><span>Filter</span></button>
</div>

<div>
    <div class="left item review" ng-repeat="review in displayReviews" ng-style="color(review.status)">
        <span class="model" ng-click="selectModel(review.modelNum)">{{ review.modelNum }}</span>
        <span class="rating">{{ review.rate }} Stars</span>
        <span class="title" ng-click="openReview(review)">{{ review.title }}</span>
        <span class="date">{{ review.date | date }}</span>
    </div>
</div>

<div class="left">
    <pagination total-items="updatedReviews.length" items-per-page="pageSize" ng-model="currentPage" max-size="maxSize"
                class="pagination-sm" boundary-links="true"></pagination>
</div>