<div class="modal-header" id="reviewModalHeader">
    <!--<h3 class="modal-title">Amazon Review Page</h3>-->
    <button class="btn btn-main btn-replied" ng-click="ok()">Mark As Replied</button>
    <button class="btn btn-main btn-cancel" ng-click="cancel()">Cancel</button>
</div>
<div class="modal-body">
    <div class="review-modal">
        <iframe class="review-modal-iframe" ng-src="{{ action.permalink | trustAsResourceUrl }}"></iframe>
        <!--style="position: relative; left: 0px; top: 0px; width: 858px; height: 400px"></iframe>-->
    </div>
</div>
<!--<div class="modal-footer">-->

<!--</div>-->