body {
    font-family: 'Roboto';
    background: #f9f9f9;
    /*margin: 0px;*/
}

h1 {
    /*margin: auto;*/
    font-size: 40px;
    text-align: center;
    color: #ffa23b;
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin: 0px;
}

hr {
    width: 100%;
}

.container {
    padding: 0px;
}

.header {
    background: url("../img/TheStarryNight.jpg");
    no-repeat: center center fixed;
    background-size: cover;
    padding: 0px;
    line-height: 100px;
    height: 100px;
}

.left {
    float: left;
}

.item {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 0px;
}

.item:hover {
    background: #fcfcfc;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    cursor: pointer;
}

.brand {
    margin: 20px;
    padding: 20px;
    height: 160px;
    width: 160px;
    font-size: 24px;
    line-height: 120px;
    text-align: center;
    position: relative;
}

.review {
    margin: 5px 0;
    padding: 10px 0;
    height: 40px;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
}

.model {
    padding-left: 2%;
    width: 12%;
    white-space: nowrap;
    overflow: hidden;
}

.rating {
    width: 10%;
    text-align: center;
}

.title {
    width: 66%;
    white-space: nowrap;
    overflow: hidden;
}

.date {
    padding-right: 2%;
    width: 10%;
    text-align: right;
    overflow: hidden;
}

.pagination {
    margin: 10px 0px;
}

.pagination > li > a, .pagination > li > span {
    border: 0px;
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
    border-radius: 0px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0px;
}


.btn {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 0px;
    margin: 20px 0 10px 0;
    padding: 10px;
    height: 40px;
    width: 100px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    border-radius: 0px;
}

.btn-single {
    margin: 0 0 0 20px;
}

.btn-rating {
    width: 70px;
}

.btn-filter {
    color: #fff;
    background-color: #428bca;
}

.btn-ok {
    color: #fff;
    background-color: #428bca;
    margin: 20px 10px;
}

.btn-cancel {
    color: #fff;
    background-color: #f0ad4e;
    margin: 20px 10px;
}

.btn-before {
    color: #fff;
    background: #FF851B;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 0px;
    margin: 5px 10px 5px 0px;
    padding: 0px;
    height: 20px;
    width: 120px;
    font-size: 12px;
    line-height: 8px;
    text-align: center;
    border-radius: 0px;
    overflow: hidden;
}

.btn-after {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 0px;
    margin: 5px auto 5px 20px;
    padding: 0px;
    height: 20px;
    width: 80px;
    font-size: 12px;
    line-height: 6px;
    text-align: center;
    border-radius: 0px;
}

.modal-footer .btn + .btn {
    margin: 20px 10px;
}

.modal-body {
    padding-bottom: 10px;
}

.modal-content {
    border-radius: 0px;
    background: #f9f9f9;
}

.progress {
    margin: 5px 10px 5px 0px;
    padding: 0px;
}

.form-control {
    border-radius: 0px;
}

.form-group {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nofloat {
    clear: both;
}

#manage {
    color: orangered;
}

#addNew {
    margin: 5px auto 5px 10px;
    height: 34px;
    line-height: 12px;
}


